
body {
    margin: 0%;
    padding: 0%; 
    background: #f7f0e9;
    transition: .6s;
    overflow-x: hidden;
}
header{
    background: rgba(240, 80, 80, 0.644);
    width: min(1100px, 100%) max()
}
h1 {
    text-align: center;
}
.pricing {
    text-align: center;
}
.home {
    text-align: center;
}
.home2 {
    text-align: center;
}
.home3 {
    text-align: center;
}
.note {
  text-align: center;
}
.insta {
  margin-left: 450px;
}
footer {
  background: black;
  color: white;
  text-align: center;
}

/* Map */
iframe {
    margin: 50px;
}
/* slideshow image */
.samosa {
  width: 1000px;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 70%;
    width: auto;
    margin-top: -10px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/* toggle mode */
#container {
    width: 100%;
    display: flex;
    margin: -60px;
    margin-top: 20px;
    flex-direction: column;
    align-items: flex-end;
}
.switch {
    position: relative;
    display:inline-block;
    width: 60px;
    height: 34px;
}
.switch input{
    display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    border-radius: 34px;
    transition: .4s;
}
.slider::before{
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    left: 4px;
    bottom: 4px;
    background: #fff;
    border-radius: 50%;
    transition: .4s;
}
input:checked + .slider {
    background: #b892ff;
}
input:checked + .slider::before{
    transform: translateX(26px);
}
.dark-mode {
    background: #0b0a14;
    color: white;
}
